
<div class = "container">
    <h1> 作成中 </h1>
  <table class="table table-hover table-bordered text-center ">
    <thead>
      <tr >
        <th class="text-center">開始日</th>
        <% Lesson.all.each do |lesson|%>
          <th class="text-center"><%=lesson.name%></th>
        <%end%>

      </tr>
    </thead>
    <tbody>
      

        
    </tbody>
  </table>
</div >
