<nav class="navbar navbar-expand navbar-light bg-light">
  <%= link_to '〇〇教室', root_path , class:"navbar-brand"%>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to '生徒', students_path , class:"nav-link active"%>
      </li>
      <li class="nav-item">
        <%= link_to '設定', '#' , class:"nav-link active"%>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">振替</a>
      </li>
    </ul>
</nav>